@model examen.Models.Programa

@{
    ViewData["Title"] = "Detalles";
    ViewData["Module"] = "Programas";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@ViewData["Module"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProgramaId">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
